

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <link rel="stylesheet" href="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-button.css">
    <a id="robbu-whatsapp-button" target="_blank" 
    href="https://api.whatsapp.com/send?phone=11987395908&text=Ol%C3%A1,%20seja%20muito%20bem%20vindo(a).%20Breve%20nossa%20equipe%20ir%C3%A1%20contata-lo.%20"> 
    <div class="rwb-tooltip">Fale Conosco</div> <img src="https://cdn.positus.global/production/resources/robbu/whatsapp-button/whatsapp-icon.svg"> </a>
        <nav class="navbar navbar-expand-lg navbar-light navbar-colorida">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">H<span>+</span>H</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <button class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </button>
                        <button class="nav-item">
                            <a class="nav-link" href="#">Contato</a>
                        </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <button class="nav-item">
                            <a class="nav-link" href="#">Perfil</a>
                        </button>
                        <button class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Clientes" asp-action="Login">Login</a>
                        </button>
                    }
                    
                    @if (User.Identity.IsAuthenticated)
                    {

                        <a class="saudacao" asp-area="" asp-controller="Clientes" asp-action="MeuPerfil">Olá, @User.Identity.Name </a>
                        <a class="Espaco">...</a>                       
                        <a class="logout" asp-area="" asp-controller="Clientes" asp-action="Logout">Sair</a>
                    }
                </ul>
                </div>
            </div>
        </nav>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
        <footer class="border-top footer">
        
            <div class="container-footer">
                <div class="footer-content">
                    <h3>Contato</h3>
                    <p>Email:contato@hmoreh.com.br</p>
                    <p>Telefone 0800 048 0120</p>
                    <p>Endereço: Av. Industrial, 789 - Lua Nova. CEP: 06665-888 - Minas Gerais - Brasil </p>
                </div>
                <div class="footer-content">
                @if (User.Identity.IsAuthenticated)
                {
                    <h3>Quick Links</h3>
                    <ul class="list-footer">
                        <li><a href="">SERVIÇOS</a></li>
                        <li><a href="">SOBRE</a></li>
                        <li><a href="">CONTATO</a></li>
                        <li><a href="">LOGIN</a></li>
                    </ul>
                }
                </div>
                <div class="footer-content">
                    <h3>Nos acompanhe nas nossas redes sociais!</h3>
                    <ul class="social-icons">
                        <li><a href=""><img src="~/img/facebook.png" style="width: 32px;"></i></a></li>
                    <li><a href=""><img src="~/img/twitter.png" style="width: 32px;"></i></a></li>
                    <li><a href=""><img src="~/img/instagram.png" style="width: 32px;"></i></a></li>
                    <li><a href=""><img src="~/img/linkedin.png" style="width: 32px;"></i></a></li>
            </ul>
            </div>
            </div>
            <div class="bottom-bar">
                <p>&copy; 2024 Digital Hub . All rights reserved</p>
            </div>
    </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
