.navbar-colorida {
    background-color: #77B0AA;
}

.navbar-light .navbar-brand {
    color: #135D66;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 600;
}

    .navbar-light .navbar-brand span {
        color: white
    }

button {
    background-color: #135D66;
    color: #ffffff;
    border: 50px;
    border-radius: 50px;
    padding: 10px 20px;
    margin-right: 20px;
}

    button a {
        color: #ffffff
    }

.navbar-light .navbar-nav .nav-link {
    color: white
}

.footer-content {
    width: 33%;
}

footer {
    background: #77B0AA;
    padding-top: 50px;
}

.footer-content ul {
    text-align: center;
}

.list-footer {
    padding: 0;
}
a.saudacao {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 20px;
}

a.logout {
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 20px;
}

a.espaco {
    color: #135D66;
}
.social-icons {
    text-align: center;
    padding: 0;
}

    .social-icons li {
        display: inline-block;
        text-align: center;
        padding: 5px;
    }

    .social-icons i {
        color: #000;
        font-size: 50px;
    }

a {
    text-decoration: none;
}

    a:hover {
        color: #003C43;
    }

.social-icons i:hover {
    color: #003C43;
}

.bottom-bar {
    background: #003C43;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

    .bottom-bar p {
        color: #77B0AA;
        margin: 0;
        font-size: 16px;
    }

.container-footer {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}

/*h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}*/

.footer-content p {
    width: 190px;
    margin: auto;
    padding: 7px;
}

.list-footer li {
    width: auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
}

    .list-footer li::before {
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 2px;
        background: #003C43;
        transition-duration: .5s;
    }

.list li:hover::before {
    width: 70px;
}

.list-footer {
    padding: 0;
}
